* {
    margin: 0;
    padding: 0;
    font-family: 'Reddit Sans', sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #202731;
    color: #fefcfb;
}

/*-- NAV BAR SECTION--*/
#nav-bar {
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    background: #202731;
    z-index: 3;
}
#nav-bar.sticking {
    box-shadow:  1px 1px 10px #161b22;
    transition: box-shadow .3s;
}
#nav-bar ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
#nav-bar ul li a {
    color: #fefcfb;
    text-decoration: none;
    font-size: 18px;
    position: relative;
    text-transform: uppercase;
    font-weight: 700;
    transition: all .5s linear;
}
#nav-bar ul li a:hover {
    color: #f28f3b;
    text-shadow: 4px 4px 2px #161b22;
}
.logo {
    margin: 1rem 1rem;
    font-weight: 700;
    text-shadow: 4px 4px 2px #161b22;
}

/*-- HEADER SECTION --*/
#header {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.container {
    padding: 10px 10%;
}
.header-text {
    margin-top: 20%;
    font-size: 30px;
    display: flex;
    justify-content: center;
}
.header-text h1 {
    margin-top: 20px;
    font-size: 56px;
    align-items: center;
}
.span-color {
    color: #f28f3b;
    white-space: pre;
}

/*-- ABOUT SECTION --*/
#about {
    padding: 80px 0;
    height: 100vh;
    background: #2a3340;
    justify-content: center;
}
.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-left {
    flex-basis: 35%;
}
.about-col-right {
    flex-basis: 60%;
}
.subtitle {
    font-size: 60px;
    font-weight: 600;
}
.tab-titles {
    display: flex;
    margin: 20px 0 40px;
}
.tab-links {
    margin-right: 50px;
    font-size: 18px; 
    font-weight: 700;
    cursor: pointer;
    position: relative;
    text-transform: uppercase;
    transition:all .5s linear;
}
.tab-links.active-link {
    color: #f28f3b;
    text-shadow: 4px 4px 2px #161b22;
}
.tab-links:hover {
    color: #f28f3b;
    text-shadow: 4px 4px 2px #161b22;
}
.about-para1{
    font-size: 1.4rem;
}
.about-para2 {
    margin-top: 2rem;
    font-size: 1.4rem;
}
.skills {
    padding: 1rem 2rem;
    margin-bottom: 1.5rem;
    margin-right: 1.5rem;
    font-size: 24px;
    background: rgba(153, 153, 153, 0.2);
    border-radius: 5px;
    font-weight: 500;
    color: #777;
}
.tab-contents {
    display: none;
}
.tab-contents.active-tab {
    display: flex;
    flex-wrap: wrap;
}

/*-- PROJECTS SECTION --*/
#projects {
    padding: 50px 0;
}
/*-- CONTACT SECTION --*/
#contact {
    
    background: #2a3340;
}
.contact-left {
    flex-basis: 35%;
}
.contact-right {
    flex-basis: 60%;
}
.contact-left p {
    margin-top: 30px;
}
.contact-left p i {
    margin-right: 10px;
    font-size: 15px;
}
.btn {
    display: block;
    margin: 50px auto;
    width: fit-content;
    background: #202731;
    border: 1px solid #f28f3b;
    padding: 14px 50px;
    border-radius: 5px;
    text-decoration: none;
    color: #fefcfb;
    transition: all .5s;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
}
.btn:hover {
    background: #f28f3b;
    cursor: pointer;
    box-shadow: 6px 6px 8px #161b22;
}
.social-icons {
    margin-top: 30px;
}
.social-icons a {
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #fefcfb;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover {
    color: #f28f3b;
    transform: translateY(-5px);
}
.btn.btn2 {
    display: inline-block;
    background: #2a3340;
}
.btn.btn2:hover {
    background: #f28f3b;
    cursor: pointer;
}
.contact-right form {
    width: 100%;
}
form input, form textarea {
    width: 100%;
    border: 0;
    outline: none; 
    background: rgba(153, 153, 153, 0.2);
    padding: 15px;
    margin: 15px 0;
    color: #fefcfb;
    font-size: 24px;
    border-radius: 5px;
}
form .btn2 {
    padding: 14px 16px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;

}
/*-- FOOTER SECTION --*/
.footer {
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #161b22;
    font-weight: 300;
}

.footer i {
    color: #bb342f;
}

nav .fa-solid {
    display: none;
}

#msg {
    color: #f28f3b;
    margin-top: -40px;
    display: block;
}

@media only screen and (max-width: 600px) {
    .header-text {
        margin-top: 100%;
        font-size: 16px;
    }
    .header-text h1 {
        font-size: 30px;
    }
    #nav-bar .fa-solid {
        display: block;
        font-size: 25px;
        margin-right: 20px;
    }
    #nav-bar ul {
        background: #161b22;
        position: absolute;
        top: -360px;
        right: 0;
        width: 100%;
        padding-top: 50px;
        z-index: 2;
        transition: top 0.5s;
        display: flex;
        flex-direction: column;
    }
    #nav-bar ul li {
        display: block;
        margin: 25px;
    }
    #nav-bar ul .fa-solid {
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }

    .subtitle {
        font-size: 40px;
    }
    .about-col-left, .about-col-right {
        flex-basis: 100%;
    }
    .about-para1, .about-para2 {
        font-size: 14px;
    }
    
    .tab-links {
        font-size: 16px;
        margin-right: 20px;
    }

    .contact-left, .contact-right {
        flex-basis: 100%;
    }
    
}
